<nav class="navbar navbar-expand-md header">
    <div class="container-fluid d-block">
        <div class="d-flex align-items-center ms-auto">
            <button class="navbar-toggler sidebar_icon" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto my-auto mb-lg-0">
                    <li class="nav-item headerListItem">
                        <input type="text" class="headerSearch" pInputText placeholder="Search..." />
                    </li>
                    <li class="nav-item headerListItem ">
                        <a class="nav-link position-relative">
                            <span
                                class="position-absolute start-100 translate-middle badge notification-badge rounded-pill bg-danger">
                                4
                                <span class="visually-hidden">unread messages</span>
                            </span><i class="pi pi-bell text-light"></i>
                        </a>
                    </li>
                    <li class="nav-item headerListItem">
                        <picture>
                            <source srcset="/assets/img/user.webp" type="image/webp">
                            <source srcset="/assets/img/user.webp" type="image/webp">
                            <img src="/assets/img/user.webp" alt="User Profile" loading="lazy" class="rounded-circle"
                                width="40" height="38">
                        </picture>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</nav>