.body-trimmed {
    width: 100%;    
    transition: all 0.3s ease;
    margin: 30px auto;
    padding-left: 20px;
}

.content-shrink {
    width: calc(100% - 190px);
    margin-left: 190px;
    transition: all 0.3s ease;
    padding-left: 0px;
}
@media (max-width:425px) {
    .sidebar_icon {
         cursor: not-allowed;
    }
}