@import "primeicons/primeicons.css";
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--primary-color);;
    color: white;
    width: 60px;
    transition: all 0.5s ease;
    border-radius: 0px;
    padding-top: 20px;
    z-index: 1000;
}

.sidenav-collasped {
    width: 220px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 100000;
}
.sidebar a{
    cursor: pointer;
}
.brand {
    margin-left: 10px;
}

.toggle-btn {
    cursor: pointer;
    font-size: 1.2rem;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.sidebar-menu li a{
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    color: #ddd;
    transition: background 0.2s;
    text-decoration: none;
}

.sidebar-menu li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-menu i {
    font-size: 1.3rem;
    width: 30px;
}

.sidebar-menu span {
    margin-left: 10px;
}

.hamburger-btn {
    position: fixed;
    top: 20px;
    left: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #4B26D1;
    z-index: 1100;
    cursor: pointer;
}

.sidebar-hamburger {
    z-index: 100000;
}

a.active {
  color: #9d9898!important;
  background-color: #394963;
  text-decoration: none;
}
